#total_container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

#total_container p {
  text-align: center;
  font-size: 1.6em;
  color: white;
}
#total_container .total-header {
  font-weight: 900;
}
